@import url('https://fonts.googleapis.com/css2?family=Afacad:wght@500&family=Poppins:wght@100&family=Roboto:wght@100&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.general-description {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-left: 10%;
    background-color: whitesmoke;
    max-width: 80%;
}

.name-description {
    margin-left: 50px;
}

h1 {
    margin-bottom: 15px;
}

.profile-pic img {
    border: 1.5px solid black ;
    margin: 5px 5px;
    border-radius: 50%;
}

.contact-details {
    background-color: #777DA7;
    color: whitesmoke;
    margin-top: 10px;
    margin-left: 10%;
    max-width: 80%;
    height: 50px;
}

.my-info {
    display: flex;
    justify-content: center;
    padding: 8px;
    margin: 0 auto;
}

.contact-details li {
    padding: 8px 50px;
}

.c-details ul {
    list-style-type: none;
}

.second-work-experience, .first-work-experience, .masters-education, .bachelor-education {
    display: block;
    max-width: 70%;
    margin-top: 10px;
    margin-left: 20%;
}

.work-experience-text {
    font-size: 30px;
    margin-bottom: 15px;
    font-weight: bold;
    opacity: 50%;
}

.education-text {
    margin-top: 20px;
    font-size: 30px;
    margin-bottom: 15px;
    font-weight: bold;
    opacity: 50%;
}

.languages-text {
    margin-top: 20px;
    font-size: 30px;
    margin-bottom: 15px;
    font-weight: bold;
    opacity: 50%;
}

.skills-set-text {
    margin-top: 10px;
    font-size: 30px;
    margin-bottom: 15px;
    font-weight: bold;
    opacity: 50%;
}

.education-container {
    margin-top: 20px;
}

.job-title, .education-title {
    font-size: 30px;
    font-weight: bolder;
}

.second-work-experience p {
    margin-top: 5px;
}

.first-work-experience p {
    margin-top: 5px;
}

.first-work-experience {
    margin-top: 20px;
}

.masters-education p {
    margin-top: 5px;
}

.bachelor-education p {
    margin-top: 5px;
}

.bachelor-education {
    margin-bottom: 50px;
}

.bachelor-education li, .masters-education li, .skills-set-one li, .skills-set-two li {
    list-style-type: none;
}
.experience-and-skills-container {
    display: flex;
}

.second-main-part {
    margin-left: 5%;
}

.skills-container {
    display: flex;
}

.skills-set-two {
    margin-top: 60px;
    margin-left: 20px;
}

.skills-set-two p, .skills-set-one p {
    margin-bottom: 15px;
    text-align: center;
}

.skill {
    border: 2px solid black;
    border-radius: 5px;
    padding: 15px;
}

.languages-knowledge li {
    list-style-type: none;
}

.language-skills dt {
    font-size: 30px;
    font-weight: bold;
}

.language-skills dd {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 15px;
}

/* MEDIA QUERIES */

/* PHONE SMALL */

@media screen and (max-width: 500px) {

    

    .my-name, h1 {
        font-size: 5px;
        margin-bottom: 2px;
    }

    .profile-pic img {
        width: 50px;
        height: 50px;
        border: 1px solid black;
    }
    
}

