@import url('https://fonts.googleapis.com/css2?family=Afacad:wght@500&family=Poppins:wght@100&family=Roboto:wght@100&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* VARIABLES */

:root {

    /* FONT SIZES */
    --FONT-SIZE-XXS: 6.5px;
    --FONT-SIZE-MID: 10px;
    --FONT-SIZE-XS: 12px;
    --FONT-SIZE-S: 16px;
    --FONT-SIZE-M: 18px;
    --FONT-SIZE-L: 21px;

}

/* START OF "PICTURE AND PRESENTATION CONTAINER" */

.picture-and-presentation-container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 80%;
    margin: 10px auto;
}

.profile-picture, img {
    border-radius: 50%;
    margin-right: 10px;
}

.name-presentation-container {
    display: block;
}

.name {
    font-weight: bold;
    font-size: var(--FONT-SIZE-XS);
}

.presentation {
    font-size: var(--FONT-SIZE-XXS);
}

/* END OF "PICTURE AND PRESENTATION CONTAINER" */

/* START OF CONTACT DETAILS CONTAINER */

.contact-details-container {
    display: flex;
    justify-content: space-around;
    background-color: #2D3142;
    color: whitesmoke;
}

.email-and-location {
    font-size: var(--FONT-SIZE-XXS);
    line-height: 10px;
}

.phone-number-and-linkedin, a:visited, a {
    font-size: var(--FONT-SIZE-XXS);
    line-height: 10px;
    color: whitesmoke;
    text-decoration: none;
}

/* END OF CONTACT DETAILS CONTAINER */

/* START OF WORK EXPERIENCE AND EDUCATION CONTAINER */

.work-experience-and-education-container {
    max-width: 45%;
}

.section-title {
    font-weight: bold;
    margin: 10px 0px 10px 10px;
    opacity: 80%;
    font-size: var(--FONT-SIZE-XS);
}

.main-text {
    font-size: var(--FONT-SIZE-MID);
    font-weight: bold;
    margin-top: 10px;
    margin-left: 10px;
}

.secondary-text {
    font-size: 9px;
    font-style: italic;
    margin-left: 10px;
}

.period-text {
    font-size: 7px;
    font-style: italic;
    margin-left: 10px;
    margin-top: 3px;
}

.location-text {
    font-size: 7px;
    font-style: italic;
    margin-left: 10px;
}

.achievements-tasks li {
    font-size: var(--FONT-SIZE-XXS);
    margin-left: 20px;
    list-style-type: disc;
}

.final-text dd {
    font-size: var(--FONT-SIZE-XXS);
    margin-left: 20px;
}

/* END OF WORK EXPERIENCE AND EDUCATION CONTAINER */


/* MEDIA QUERIES */

/* SMARTPHONES, PORTRAIT TABLETS and SMALL SCREENS */

@media screen and (min-width: 550px) and (max-width: 769px) {

    /* START OF "PICTURE AND PRESENTATION CONTAINER" */

    .profile-picture img {
        width: 100px;
        height: 100px;
    }

    .name {
        font-size: var(--FONT-SIZE-S);
    }

    .presentation {
        font-size: 9px;
    }

    /* END OF "PICTURE AND PRESENTATION CONTAINER" */

    /* START OF CONTACT DETAILS CONTAINER */

    .email-and-location, .phone-number-and-linkedin, a {
        font-size: 9px;
        line-height: 15px;
    }

    /* END OF CONTACT DETAILS CONTAINER */

    /* START OF WORK EXPERIENCE AND EDUCATION CONTAINER */

    .section-title {
        font-size: var(--FONT-SIZE-S);
    }

    .main-text {
        font-size: var(--FONT-SIZE-XS);
    }

    .secondary-text {
        font-size: var(--FONT-SIZE-MID);
    }

    .period-text {
        font-size: var(--FONT-SIZE-MID);
    }

    .location-text {
        font-size: var(--FONT-SIZE-MID);
    }

    .achievements-tasks li {
        font-size: var(--FONT-SIZE-MID);
    }

    .final-text dd {
        font-size: var(--FONT-SIZE-MID);
    }

    /* END OF WORK EXPERIENCE AND EDUCATION CONTAINER */

}

/* TABLETS */

@media screen and (min-width: 769px) and (max-width: 1024px) {

    /* START OF "PICTURE AND PRESENTATION CONTAINER" */

    .profile-picture img {
        width: 150px;
        height: 150px;
    }

    .name {
        font-size: var(--FONT-SIZE-L);
    }

    .presentation {
        font-size: var(--FONT-SIZE-XS);
    }

    /* END OF "PICTURE AND PRESENTATION CONTAINER" */

    /* START OF CONTACT DETAILS CONTAINER */

    .email-and-location, .phone-number-and-linkedin, a {
        font-size: var(--FONT-SIZE-XS);
        line-height: 20px;
    }

    /* END OF CONTACT DETAILS CONTAINER */

    /* START OF WORK EXPERIENCE AND EDUCATION CONTAINER */

    .section-title {
        font-size: var(--FONT-SIZE-L);
        margin-left: 25px;
    }

    .main-text {
        font-size: var(--FONT-SIZE-M);
        margin-left: 25px;
    }

    .secondary-text {
        font-size: var(--FONT-SIZE-S);
        margin-left: 25px;
    }

    .period-text {
        font-size: var(--FONT-SIZE-S);
        margin-left: 25px;
    }

    .location-text {
        font-size: var(--FONT-SIZE-S);
        margin-left: 25px;
    }

    .achievements-tasks li {
        font-size: var(--FONT-SIZE-S);
        margin-left: 40px;
    }

    .final-text dd {
        font-size: var(--FONT-SIZE-S);
        margin-left: 25px;
    }

    /* END OF WORK EXPERIENCE AND EDUCATION CONTAINER */

}

/* LAPTOPS and DESKTOPS */ 

@media screen and ( min-width: 1025px) {

    /* START OF "PICTURE AND PRESENTATION CONTAINER" */

    .profile-picture img {
        width: 175px;
        height: 175px;
    }

    .name {
        font-size: 30px;
    }

    .presentation {
        font-size: var(--FONT-SIZE-M);
    }

    /* END OF "PICTURE AND PRESENTATION CONTAINER" */

    /* START OF CONTACT DETAILS CONTAINER */

    .email-and-location, .phone-number-and-linkedin, a {
        font-size: var(--FONT-SIZE-M);
        line-height: 25px;
    }

    /* END OF CONTACT DETAILS CONTAINER */
    
}