@import url('https://fonts.googleapis.com/css2?family=Afacad:wght@500&family=Poppins:wght@100&family=Roboto:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Afacad, Poppins, Roboto;
}

/* VARIABLES */
:root {

    /* COLORS */
    --BORDER-COLOR: #35CE8D;
    --DARK-COLOR: #0E131F;
    --LIGHT-COLOR: #f5f5f5;


}

body {
    font-size: 21px;
    line-height: 1.3;
    background-color: var(--DARK-COLOR);
    color: var(--LIGHT-COLOR);
}

ul {
    list-style-type: none;
}

.main-navigation-menu {
    white-space: nowrap;
}

.navbar a {
    text-decoration: none;
    font-weight: bold;
}


.container-navbar {
    max-width: 1500px;
    margin: 0 auto;
    padding: 25px;
    color: var(--LIGHT-COLOR);
}

.name {
    font-size: 30px;
    font-weight: bold;
    white-space: nowrap;
}

.container-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar, li {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-left: 21px;
}


a:visited {
    color: var(--LIGHT-COLOR);
}

.main-navigation-menu a:hover, a:focus{
    color: var(--BORDER-COLOR);
}

a:active {
    color: var(--LIGHT-COLOR);
}

a {
    text-decoration: none;
}

header {
    /* padding: 50px 25px; */
    color: var(--LIGHT-COLOR);
    top: 0;
}

.name:hover, .name:focus {
    transition: color 2s ease-in-out;
    animation: scaleAnimation 1s infinite alternate;
}

.name:hover, .name:focus {
    color: #00ff9d;
}

@keyframes scaleAnimation {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.05);
    }
}

.header-main-container {
    width: 1000px;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.profile-pic img {
    border: 5px solid var(--BORDER-COLOR);
    border-radius: 50%;
    transition: border-color 1s ease-in-out;
}


.profile-pic img:hover {
    border-color: red;
}

.description {
    border: 5px solid var(--BORDER-COLOR);
    padding: 21px;
    border-radius: 5%;
    transition: border-color 1s ease-in-out;
}

.description:hover {
    border-color: red;
}

main {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}

.footer-navbar {
    max-width: 1500px;
    margin: 75px auto;
}

.socials-list, li {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.social-logo:hover {
    filter: brightness(150%);
}

footer {
    bottom: 0;
}

/* MEDIA QUERIES*/

/* SMALL */

 @media  screen and (max-width: 575px) {
    
    .name, .navbar {
        white-space: nowrap;
        font-size: 10px;
    }

    .header-main-container {
        max-width: 350px;
        font-size: 10px;
    }


    .profile-pic img {
        width: 150px;
        height: 150px;
        margin-right: 5px;
        border: 2px solid var(--BORDER-COLOR);
    }

    .description {
        border: 2px solid var(--BORDER-COLOR);
        margin-right: 5px;
    }

    .About-me-info {
        font-size: 15px;
        margin: 0 auto;
    }
    

}
 







