@import url('https://fonts.googleapis.com/css2?family=Afacad:wght@500&family=Poppins:wght@100&family=Roboto:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Afacad, Poppins, Roboto;
}

body {
    font-size: 21px;
    line-height: 1.3;
    background-color: #0E131F;
}

ul {
    list-style-type: none;
}

.navbar a {
    text-decoration: none;
    font-weight: bold;
}


.container-navbar {
    max-width: 1500px;
    margin: 0 auto;
    padding: 25px;
    color: whitesmoke;
}

.name {
    font-size: 30px;
    font-weight: bold;
}

.container-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar, li {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-left: 21px;
}

a:visited {
    color: #FFF7AE;
}

a:hover, a:focus{
    opacity: 0.5;
    color: #FFF7AE;
}

a:active {
    color: #FFF7AE;
}








